### Cohort selection process for MIMIC data.

* We combine MICU (medical) and SICU (surgical) as an approximation to GICU in Bristol.
* We use Metavision only because of relatively well structured data (compared with Carevue).

The conditions for cohort inclusion are ICUSTAYs that:

* Are the first (or only) ICU stay of a hopistal admission.
* Have outcome information (survival/mortality or readmission to ICU).
* Have 'good' data availability (we test for this later, not in this notebook).

A positive outcome is defined as:

* Patient survives hospital stay
* Patient is not re-admitted to ICU diuring the same hospital admission

Therefore, a negative outcome is (at least) one of:

* Death during hospital admission (on ICU or ward).
* Readmission to ICU during hospital stay (even if patient survives).

In [60]:

import numpy as np
import pickle

In [2]:
from google.cloud import bigquery
client = bigquery.Client()

In [ ]:
%load_ext sql
%sql mysql://root:mysql2016@localhost/MIMIC?unix_socket=/run/mysqld/mysqld.sock
%sql USE MIMIC

The following query extracts the required information about ICUSTAY, HADM (hospital admission), and outcomes:

In [3]:
data=%sql SELECT I.SUBJECT_ID, I.HADM_ID, I.ICUSTAY_ID, A.HOSPITAL_EXPIRE_FLAG, I.INTIME, I.OUTTIME, A.DEATHTIME \
FROM ICUSTAYS I \
INNER JOIN PATIENTS P \
ON I.SUBJECT_ID=P.SUBJECT_ID \
INNER JOIN ADMISSIONS A \
ON I.HADM_ID=A.HADM_ID \
WHERE (FIRST_CAREUNIT='MICU' or FIRST_CAREUNIT='SICU') AND DBSOURCE='METAVISION'

14595 rows affected.

In [13]:
query = """SELECT I.SUBJECT_ID, I.HADM_ID, I.ICUSTAY_ID, A.HOSPITAL_EXPIRE_FLAG, I.INTIME, I.OUTTIME, A.DEATHTIME
FROM physionet-data.mimiciii_clinical.icustays I 
INNER JOIN physionet-data.mimiciii_clinical.patients P 
ON I.SUBJECT_ID=P.SUBJECT_ID 
INNER JOIN physionet-data.mimiciii_clinical.admissions A 
ON I.HADM_ID=A.HADM_ID 
WHERE (FIRST_CAREUNIT='MICU' or FIRST_CAREUNIT='SICU') AND DBSOURCE='metavision'"""
query_job = client.query(query)
gdata = query_job.to_dataframe()

We store the query output in a dataframe (and save to disk avoid re-running the query later):

In [4]:
print len(data) 
gdata = graphlab.SFrame(data.DataFrame())
gdata.save('mimic_mortality')

14595

In [31]:
gdata

,SUBJECT_ID,HADM_ID,ICUSTAY_ID,HOSPITAL_EXPIRE_FLAG,INTIME,OUTTIME,DEATHTIME
0,154,102354,201272,0,2127-12-23 22:02:59,2127-12-26 00:06:44,NaT
1,406,100765,231758,0,2126-03-11 23:07:15,2126-03-18 22:17:14,NaT
2,5199,115157,296867,0,2204-04-08 08:16:19,2204-04-12 10:51:07,NaT
3,5841,126020,243663,0,2131-06-19 13:43:26,2131-06-20 22:25:08,NaT
4,7533,166898,208809,0,2114-03-29 09:36:53,2114-04-08 18:39:51,NaT
5,11043,198451,287685,0,2160-04-22 20:13:18,2160-04-26 17:13:34,NaT
6,10820,125172,223012,0,2171-10-25 09:28:51,2171-11-02 13:38:29,NaT
7,15025,116670,250703,0,2207-06-16 22:12:35,2207-06-18 13:24:30,NaT
8,16975,100446,283082,0,2122-03-28 17:52:51,2122-03-30 15:58:53,NaT
9,18254,125836,202339,0,2196-12-17 08:14:30,2196-12-18 12:29:48,NaT
10,23697,129988,243623,1,2179-07-13 06:41:54,2179-07-13 22:20:00,2179-07-13 20:15:00
11,20747,170071,201222,0,2139-08-24 17:03:50,2139-09-04 17:17:56,NaT
12,23779,187571,255002,1,2199-07-07 16:39:51,2199-07-10 18:44:21,2199-07-10 17:00:00
13,23577,194394,253487,0,2189-09-14 05:31:06,2189-09-17 02:10:28,NaT
14,24402,197871,274345,0,2129-08-12 19:53:31,2129-08-18 15:16:55,NaT
15,20577,172803,219793,0,2190-02-09 10:36:49,2190-02-10 17:08:02,NaT
16,23161,115895,292552,1,2138-08-02 19:10:40,2138-08-03 09:09:47,2138-08-03 04:00:00
17,27800,156129,293309,0,2162-05-13 08:01:01,2162-05-17 15:28:58,NaT
18,28270,153773,201095,0,2189-11-20 09:41:13,2189-11-21 18:08:39,NaT
19,26036,146697,231770,0,2142-11-05 22:23:47,2142-11-06 20:52:32,NaT
20,31260,114524,250996,0,2108-03-19 18:14:07,2108-04-04 17:37:52,NaT
21,29861,113716,287314,0,2136-07-10 21:09:30,2136-07-19 21:52:17,NaT
22,29866,128631,250189,0,2120-07-10 13:52:03,2120-07-12 21:40:14,NaT
23,49379,129372,201098,0,2124-12-23 02:31:55,2125-01-06 17:58:10,NaT
24,40384,107272,279459,0,2131-04-23 14:30:36,2131-04-28 13:55:13,NaT
25,40474,176612,252264,0,2117-12-01 01:31:32,2117-12-03 14:47:27,NaT
26,42820,137524,203692,0,2203-10-23 06:51:37,2203-10-24 18:23:38,NaT
27,41897,169630,291660,0,2144-03-30 17:09:27,2144-04-02 15:50:33,NaT
28,44741,164445,296234,0,2173-11-02 04:08:21,2173-11-04 13:57:18,NaT
29,41958,182711,246007,0,2155-08-09 01:48:04,2155-08-14 23:16:34,NaT
...,...,...,...,...,...,...,...
14565,84669,137173,286983,0,2111-12-25 22:50:38,2111-12-28 20:28:32,NaT
14566,84692,198834,232199,0,2142-06-19 23:07:09,2142-06-20 20:05:09,NaT
14567,84715,174204,278182,0,2161-01-07 02:16:32,2161-01-07 10:47:10,NaT
14568,84726,109797,260333,0,2181-08-10 14:23:23,2181-08-11 16:33:43,NaT
14569,84734,180854,226207,0,2134-09-03 02:09:22,2134-09-04 00:14:27,NaT
14570,87660,173822,203788,1,2158-10-04 20:47:45,2158-10-06 22:13:20,2158-10-08 20:35:00
14571,87683,109360,269041,1,2189-08-30 18:40:46,2189-08-31 17:00:40,2189-08-31 13:11:00
14572,94820,160807,227361,0,2121-01-24 16:31:07,2121-01-25 11:43:17,NaT
14573,97484,172304,298836,0,2196-08-20 05:08:11,2196-08-23 22:19:45,NaT
14574,97488,161999,225574,1,2128-08-27 15:02:12,2128-09-04 16:48:45,2128-09-04 15:30:00
14575,97529,140368,296782,0,2140-12-25 11:36:53,2141-01-01 18:19:17,NaT
14576,99166,117872,242196,0,2154-02-27 01:28:34,2154-02-28 18:15:19,NaT
14577,99166,188988,299444,0,2154-03-11 21:22:05,2154-03-12 19:38:09,NaT
14578,99183,184631,209521,0,2157-03-02 17:58:42,2157-03-03 15:42:59,NaT
14579,90629,100197,203563,1,2136-10-23 16:23:52,2136-10-24 15:59:24,2136-10-24 12:55:00
14580,90637,118598,279035,0,2150-09-16 22:33:27,2150-09-17 15:27:06,NaT
14581,90663,163952,257739,0,2107-12-29 14:10:50,2108-01-03 17:49:03,NaT
14582,91904,178866,258717,1,2170-12-01 15:43:11,2170-12-03 17:44:25,2170-12-03 17:43:00
14583,91907,136423,236031,0,2183-04-15 12:27:21,2183-04-20 15:28:34,NaT
14584,91915,185258,281382,0,2128-09-08 03:18:03,2128-09-09 22:06:05,NaT
14585,91934,196304,200408,0,2147-06-23 19:00:56,2147-06-26 12:22:48,NaT
14586,91946,102774,225615,0,2154-04-04 05:05:08,2154-04-19 16:28:00,NaT
14587,91978,113913,215496,1,2119-10-28 16:16:38,2119-10-31 06:48:16,2119-10-30 06:48:00
14588,92027,181411,278846,0,2166-11-25 12:53:41,2166-11-26 11:37:08,NaT
14589,94879,174780,214785,1,2159-10-22 18:53:37,2159-10-23 05:06:30,2159-10-23 04:55:00
14590,94889,147635,252338,0,2124-11-22 21:55:59,2124-11-24 18:04:42,NaT
14591,94896,167802,242378,0,2200-02-26 18:40:12,2200-02-27 12:16:19,NaT
14592,94924,186391,290051,0,2134-01-08 21:59:39,2134-01-09 18:29:16,NaT
14593,94937,156213,293838,0,2107-02-05 17:16:52,2107-02-06 21:53:10,NaT
14594,94953,196881,241585,0,2160-03-03 16:09:11,2160-03-04 14:22:33,NaT

Counting unqiue individuals, stays, and hospital admissions:

In [14]:
print( "There are: ")
print( str(len(gdata['SUBJECT_ID'].unique())) + " patients,")
print( str(len(gdata['HADM_ID'].unique())) + " hospitals admissions, and")
print( str(len(gdata['ICUSTAY_ID'].unique())) + " intensive care stays.")

There are:
11007 patients,
13748 hospitals admissions, and
14595 intensive care stays.

#### For each HADM (hospital admission) we want to know how many ICU stays occur:

For each HADM we will include the first ICUSTAY in our cohort.

(Presence of a second ICUSTAY in the same HADM constitues a negative outcome.)

In [49]:
import pandas as pd
def agg_func(data, hadm_id):
    series = {}
    series['HADM_ID'] = hadm_id
    series['SUBJECT_ID'] = data['SUBJECT_ID'].min()
    series['count'] = data['ICUSTAY_ID'].count()
    series['first stay'] = data.loc[data['INTIME'].idxmin()]['ICUSTAY_ID']
    series['first intime'] = data['INTIME'].min()
    series['mortality'] = data['HOSPITAL_EXPIRE_FLAG'].max()
    return pd.Series(series)

gdata_grouped = gdata.groupby('HADM_ID')
agg_data = []
for hadm_id, group in gdata_grouped:
    agg_data.append(agg_func(group, hadm_id))

gdata_grouped = pd.DataFrame(agg_data)
gdata_grouped

       HADM_ID  SUBJECT_ID  count  first stay        first intime  mortality
0       100001       58526      1      275225 2117-09-11 11:47:35          0
1       100003       54610      1      209281 2150-04-17 15:35:42          0
2       100010       55853      1      271147 2109-12-10 21:58:01          0
3       100016       68591      1      217590 2188-05-24 13:07:20          0
4       100018       58128      1      269533 2176-08-29 16:56:37          0
5       100028       53456      1      297261 2142-12-23 18:07:12          0
6       100035       48539      1      245719 2115-02-22 06:52:06          0
7       100037       58947      2      270105 2183-03-23 18:22:04          0
8       100072       50379      1      294067 2145-11-11 22:10:58          0
9       100075       77988      1      278942 2186-02-01 17:02:13          0
10      100091       90834      1      246996 2162-06-03 17:32:18          0
11      100099       82091      1      207036 2118-05-07 00:44:53          0
12      100113       58240      1      295421 2153-01-05 00:36:39          0
13      100118       53749      1      202030 2198-09-07 15:35:31          0
14      100133       70485      1      282685 2196-09-27 17:53:16          0
15      100141       61215      1      243747 2173-10-01 01:26:26          0
16      100153       95834      1      286495 2118-12-02 19:24:24          0
17      100165       84310      1      228494 2151-10-01 04:31:30          0
18      100188       75188      1      264211 2193-04-11 14:37:37          0
19      100197       90629      1      203563 2136-10-23 16:23:52          1
20      100201       41359      1      295727 2195-10-09 19:55:34          0
21      100202       62035      1      218598 2196-07-26 23:45:50          0
22      100213       85723      1      259997 2154-02-13 03:46:46          0
23      100215       81865      1      248622 2193-05-03 20:47:51          0
24      100223       50417      1      215164 2162-04-12 20:02:08          1
25      100225       78662      1      211846 2146-12-22 21:02:58          0
26      100227       52779      1      270721 2160-12-07 02:55:45          0
27      100234       49079      1      256814 2118-10-23 19:35:15          1
28      100263       54120      1      288768 2102-04-20 20:54:26          0
29      100265       47687      1      225594 2200-11-10 21:33:02          0
...        ...         ...    ...         ...                 ...        ...
13718   199779       44643      1      282707 2198-08-25 14:09:06          0
13719   199785       78117      1      248381 2136-06-12 19:37:35          0
13720   199786       88098      1      238481 2119-03-04 18:43:14          1
13721   199790       73536      1      289131 2174-05-31 01:38:02          1
13722   199800       79951      1      268055 2196-03-30 17:23:06          0
13723   199803       50484      2      204619 2160-02-07 18:29:56          0
13724   199811       95516      1      235777 2125-06-20 21:21:48          1
13725   199812       69501      1      248404 2154-10-08 17:12:21          0
13726   199816       26012      1      208246 2186-07-30 21:11:20          1
13727   199818       54878      1      245332 2142-08-21 21:11:06          0
13728   199821       84469      3      231576 2167-03-25 17:58:09          0
13729   199826       27094      1      211068 2113-05-11 13:57:05          1
13730   199838       49872      1      227297 2161-09-12 02:39:16          0
13731   199846       92247      1      236048 2191-06-01 13:50:13          0
13732   199847       62480      1      212505 2167-01-10 05:35:51          0
13733   199859       99650      1      207220 2157-01-21 15:00:02          0
13734   199861       40293      1      239150 2133-03-09 11:11:06          0
13735   199871       31275      1      223042 2201-11-13 16:13:36          0
13736   199880       76984      1      231263 2195-10-19 14:52:00          1
13737   199898       29293      1      261036 2134-08-16 21:31:41          0
13738   199911       86018      1      255631 2196-05-10 12:36:03          0
13739   199925       80825      1      207013 2140-02-10 18:46:51          0
13740   199929       67735      1      216610 2200-10-03 14:54:34          0
13741   199933       55090      1      274436 2166-12-10 13:33:54          0
13742   199948       49225      1      224174 2102-02-24 19:30:03          0
13743   199949       64296      1      275223 2181-05-15 18:20:51          1
13744   199957       97714      1      253382 2181-04-07 10:53:54          0
13745   199958       26705      1      277656 2178-09-02 21:13:22          0
13746   199967       42131      1      201521 2184-07-31 17:42:53          0
13747   199999       40370      1      211153 2136-04-06 16:01:10          0

[13748 rows x 6 columns]

Convert aggregated data to dictionaries for portable pickle save:

In [50]:
ic_count = dict()
first_stays = dict()
intimes = dict()

for idx, row in gdata_grouped.iterrows():
    
    ic_count[row['HADM_ID']] = row['count']
    intimes[row['HADM_ID']] = row['first intime']
    first_stays[row['HADM_ID']] = row['first stay']

Here we produce a list of all hospital admissions (HADM_ID) during which the patient dies:

In [51]:
print( len(gdata_grouped))
print( sum(gdata_grouped['mortality']==1))
mortality_list = list(gdata_grouped[gdata_grouped['mortality']==1]['HADM_ID'])

13748
1681

Here we produce a list of all ICUSTAYs during which the patient dies on ICU:

(This is determined from A.DEATHTIME < I.OUTTIME)

In [57]:
print( "%d mortalities have no DEATHTIME recorded." %sum(gdata[gdata['DEATHTIME']==None ]['HOSPITAL_EXPIRE_FLAG']==1))  
print( " ")

_mortalities = gdata[~gdata['DEATHTIME'].isnull()]
ic_deaths = _mortalities.apply(lambda row: row['ICUSTAY_ID'] if row['DEATHTIME'] <= row['OUTTIME'] else -1, axis=1)
ic_deaths = [i for i in ic_deaths if i!=-1]

print( "There are %d recorded death times." %len(_mortalities))
print( "Of these, %d occur on ICU." %len(ic_deaths))

0 mortalities have no DEATHTIME recorded.

There are 1922 recorded death times.
Of these, 1279 occur on ICU.

pandas._libs.tslibs.timestamps.Timestamp

#### We save these cohort characteristics for use in extracting data from MIMIC (see 'data_pull_mimic.ipynb'):

In [61]:
## These are dictionaries:
f = open('first_stays.pkl', 'wb')
pickle.dump(first_stays, f)
f.close()

f = open('stay_counts.pkl', 'wb')
pickle.dump(ic_count, f)
f.close()

## These are lists:
f = open('moratlities.pkl', 'wb')
pickle.dump(mortality_list, f)
f.close()

f = open('icu_deaths.pkl', 'wb')
pickle.dump(ic_deaths, f)
f.close()

---------------------------------------------------------------------------

---------------------------------------------------------------------------
#### Other scripting (sanity checks and looking at some occurance rates):

In [13]:
more_than_one_stay = sum(np.asarray(ic_count.values())>1)
more_than_two_stay = sum(np.asarray(ic_count.values())>2)

In [14]:
print more_than_one_stay
print more_than_two_stay

742
80

In [15]:
## Readmission rate:
more_than_one_stay/float(len(gdata['HADM_ID'].unique()))

0.0539714867617108

In [16]:
## Overall mortality
print len(mortality_list)/float(len(gdata['HADM_ID'].unique()))

0.122272330521

In [19]:
## Readmission mortality:
death=0
for mortality in mortality_list:
    if ic_count[mortality]>1:
        death+=1
        
readmit_mort = death/float(sum(np.asarray(ic_count.values())>1))
print readmit_mort

0.260107816712

In [20]:
## Single stay mortality:
death=0
for mortality in mortality_list:
    if ic_count[mortality]==1:
        death+=1
        
single_mort = death/float(sum(np.asarray(ic_count.values())==1))
print single_mort

0.11440873443